.blog-title {
    color: rgb(65, 7, 7);
    margin-left: 20px;
    padding: 5px;
    font-size: 50px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 30px;
}

.blog {
    padding: 20px;
    border: 1px solid whitesmoke;
    box-shadow: 10px 5px 20px 12px whitesmoke;
    border-radius: 10px;
}