.header {
    color: rgba(0, 0, 0, 0.651);
    margin-left: 20px;
    padding: 50px;
}

.header h1 {
    font-size: 50px;
}

.header p {
    font-size: 30px;
}

.header span {
    color: rgb(65, 7, 7);
}